@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    font-family: sans-serif;
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
   font-family: var(--font-nunito), sans-serif;
}




.jodit-content table {
  width: 100%;
  overflow-x: auto;
  display: block;
}

.jodit-content iframe {
  max-width: 100%;
}



li{
  list-style: none;
}


/* Pagination buttons style */
.ant-pagination-item {
  border-radius: 10% !important; /* Make buttons circular */
}

/* Active pagination button */
.ant-pagination-item-active {
  background-color: #E63946 !important; /* Active background color */
  border-color: #E63946 !important; 
  ;/* Active border color */
}

/* Active pagination button text */
.ant-pagination-item-active > a {
  color: white !important; /* Ensure active text color is white */
}
